<footer class="text-muted bg-light mt-5 pt-2">
    <div class="container">
      <p class="float-right">
        <a href="#">Volver arriba</a>
      </p>
      <p>Esto es un ejemplo hecho por © Quarika, revisar la documentacion para mas informacion!</p>
      <p>No sabes donde estas? <a href="/">Vuelve al inicio</a> o leer la documentacion en <a href="https://github.com/BugCry/NoSQL-CRUD">GitHub</a>.</p>
    </div>
  </footer>